*,*::after,*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}