*,*::after,*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  // overflow-x: hidden;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.reverse {
  flex-direction: row-reverse;
  margin-left: auto;
}

.right {
  text-align: right;
}

.no-scroll {
  overflow: hidden;
}

.revert {
  text-align: revert;
}

.hide {
  display: none;
}

.input {
  border: 1px solid #4F4F4F;
  min-width: 252px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  background-color: transparent;
  color: #F2F2F2;
  outline: none;
  &::placeholder {
    color: #F2F2F2;
  }
}

.overlay {
  display: block;
	position: fixed;
	z-index: 899;
	top: 53px;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #333;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	opacity: 0;
	pointer-events: none;
}

.overlay.active {
	opacity: 0.38;
	pointer-events: all;
}

@media (max-width: 1080px) {
  .container {
    max-width: 768px;
  }
}
