*,*::after,*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.reverse {
  flex-direction: row-reverse;
  margin-left: auto;
}

.right {
  text-align: right;
}

.revert {
  text-align: revert;
}

.input {
  border: 1px solid #4F4F4F;
  min-width: 252px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  background-color: transparent;
  color: #F2F2F2;
  outline: none;
  &::placeholder {
    color: #F2F2F2;
  }
}