// only imports here

@import '../scss/global/normalize';
@import '../scss/global/base';
@import '../scss/global/title';


@import '../scss/sections/header';
@import '../scss/sections/hero';
@import '../scss/sections/about';
@import '../scss/sections/drivers';
@import '../scss/sections/car';
@import '../scss/sections/footer';


@import '../scss/global/media';
// put here other imports
