.drivers {
  &__title {
    margin-bottom: 120px;
  }
&__inner {
  max-width: 896px;
  margin: 0 auto;
}
  &__card {
    display: flex;
    justify-content: space-between;
    max-width: 804px;
    border-top: 2px solid #BDBDBD;
    padding-top: 16px;
    margin-bottom: 112px;
  }

  &__img {
    width: 344px;
    height: 452px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__role {
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.01em;
  }

  &__name {
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    color: #333333;
  }
  &__bottom {
    display: flex;
  }
  &__left-side {
    margin-right: 66px;
  }

  &__info {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #4F4F4F;
  }
}
