.footer {
  background: #333333;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 42px 0 44px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__text {
    max-width: 387px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #F2F2F2;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__message {
    margin-bottom: 14px;
    height: 90px;
    resize: none;
  }

  &__btn {
    background: #4F4F4F;
    padding: 4px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #F2F2F2;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
